@import 'App';
@import 'components/Input/Input';
@import 'components/Button/Button';
@import 'components/ListImages/ListImages';
@import 'components/GroupListImages/GroupListImages';
@import "./components/Header/Header";
@import "./components/Content/Content";
@import "./components/Image/Image";
@import "./scss/wrap-img";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
