.container {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 20px 20px;

  &__header {
    margin-bottom: 60px;
  }
}

.header {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.content {
  padding: 10px;
}
