@import "../../scss/variables";

.list-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-items: center;

  &__img {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: 5px;
    border: 2px solid $border_color;
    border-radius: $radius;
    width: 300px;
    height: 300px;
  }
}
